<div class="container">
    <div class="row">
      <div class="col text-uppercase text-center">
        <h2 class="m-4">Producto</h2>
        <h1>Anderson Sebastian Machado Montenegro</h1>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
          <label class="form-label">id</label>
          <input type="text" class="form-control border-secondary" />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
          <label class="form-label">Precio</label>
          <input type="text" class="form-control border-secondary" />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control border-secondary" />
      </div>
      <div class="mb-3">
        <label class="form-label">Descripcion</label>
        <textarea
          class="form-control border-secondary"
          placeholder=""
          style="height: 100px"
        ></textarea>
      </div>
        <div class="form-floating mb-3 mt-3">
            <div class="d-grid gap-2">
              <button type="button" id="btn-carts" class="btn " data-bs-toggle="modal"
                data-bs-target="#modalFormulario">Guardar</button>
            </div>
          </div>
    </form>
  </div>
  <!-- <router-outlet></router-outlet> -->
  <!--  <ul>
    <li *ngFor="let product of products">
      {{product.title}}
      {{product.price}}
      {{product.description}}
      {{product.category}}
    </li>
   </ul> -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Categoria</th>
        <th scope="col">Imagen</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
   <!-- <tbody>
      <tr *ngFor="let product of products" class="">
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category}}</td>
        <td><img src="{{product.images}}" alt="100" height="200"></td>
        <td href="" (click)="deleteProduct(product.id)">Eliminar</td>
      </tr>
    </tbody> -->
  </table>